@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html>
<head>
	<title>The Best Store Online - @ViewBag.Title</title>
	<link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,700" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/constants.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/stylesheet.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/stylesheet_boxes.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/stylesheet_content.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/css/TextStyles.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/SearchScript.js")" type="text/javascript"></script>
</head>
<body>
	<div class="bg2_body" align="center">
		<div class="row_1">
			<div class="width_table">
				<div class="cl_both">
					<div class="logo">
						<a href="/">
							<img width="218" height="84" border="0" alt="" src="/images/logo.gif">
						</a>
					</div>
					<div align="right" class="fl_right">
						@Umbraco.RenderMacro("MiniShoppingCart")
						@Umbraco.RenderMacro("LangCurrenciesSwitcher")
					</div>
					<div class="cl_both">
						@Umbraco.RenderMacro("TopMenu")
					</div>
				</div>
			</div>
		</div>
		<div align="center" id="content">
			<div class="row_2">
				<table class="main_table" cellspacing="0" cellpadding="0" border="0">
					<tr>

						<td class="box_width_td_left">
							@******Start: Left content*****@
							@Umbraco.RenderMacro("BoxHeader", new {HeaderText="Categories"})
							@Umbraco.RenderMacro("CategoriesList")
							@Umbraco.RenderMacro("BoxHeader", new {HeaderText="Manufactures"})
							<div>
								&nbsp;
							</div>
							@Umbraco.RenderMacro("Advertisment")
							@******End: Left content*****@
						</td>
						<td class="content_width_td">
							@RenderBody()
						</td>
					</tr>
				</table>
			</div>
			<div class="row_4">
				<div class="width_table footer">
					@Umbraco.RenderMacro("BottomMenu")
					@Umbraco.RenderMacro("Copyright")
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>