@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Masterpage.cshtml";
	ViewBag.Title = Model.Content.Name;
}

<div class="post main">
	<h1>@Model.Content.Name</h1>
	<div class="content_wrapper2_td description">
		<div class="prod_info">
			<img src="@Umbraco.Field("image")" border="0" alt="@Model.Content.Name"/>
		</div>
		<div class="al_left line"><strong>Brand:</strong> @Umbraco.Field("producer")</div>
		<div class="al_justify">
			@Umbraco.Field("description")
		</div>
		<div class="result_right line">
			<span class="productSpecialPrice">$@Umbraco.Field("price")</span>
		</div>
		<div class="cart_line_x padd2_gg">
			<img width="1" height="2" border="0" alt="" src="/images/spacer.gif">
		</div>
	</div>
	<table class="width_100 bg_button2" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="main button_marg">
					@Html.ActionLink("Reviews", "Index", "Comments")
				</td>
				<td align="right" class="main button_marg">
					@Umbraco.RenderMacro("AddToCart")
				</td>
			</tr>
	</table>
</div>
