@model IList<SuperOnlineShop.Models.ShoppingCartItem>
<div id="shoppingCartTable">
    @if (@Model.Any()) {
        using (Html.BeginForm("Index", "ShoppingCart", FormMethod.Post, new {id="cartForm"})) {
        <table>
            <tr>
                <th>Name
                </th>
                <th style="width: 80px; text-align: center">Price
                </th>
                <th>Count
                </th>
                <th style="width: 80px; text-align: center">Sum
                </th>
                <th></th>
            </tr>

            @for (int i=0; i < Model.Count(); i++) {
                <tr>
                    <td>
                        @Html.HiddenFor(model => model[i].Id)
                        @Html.DisplayFor(model => model[i].Name)
                    </td>
                    <td style="width: 80px; text-align: center">
                        @Html.DisplayFor(model => model[i].Price)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].Count, new { style = "width: 40px;" })
                    </td>
                    <td style="width: 80px; text-align: center">
                        @Html.DisplayFor(model => model[i].Sum)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = Model[i].Id }, new { @class = "deleteButton" })
                    </td>
                </tr>
            }
        </table>

        <br />
        <h4>Total price: <span id="totalPrice">@Model.Sum(item => item.Price * item.Count)</span> $ </h4>
    
        <p class="links">
            @Html.ActionLink("Recount price", "RecountPrice", new { }, new { @class = "button", id = "recountPriceButton" })
            <a href="Order" class="button" id="orderButton">Order now</a>
        </p>
       
        }

    } else {
        <p>Shopping cart is empty. Please select any products from catalog.</p>   
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#recountPriceButton').click(function () {
            event.preventDefault();
            $('form#cartForm').submit();
        });

        $('form#cartForm').submit(function () {
            var url = $(this).attr('action');
            $.post(url, $(this).serialize(), function (response) {
                $('#shoppingCartTable').html(response);
                UpdateCartStatus();
            });
            return false;
        });

        $('.deleteButton').click(function (event) {
            event.preventDefault();
            var url = $(this).attr('href');
            if (confirm("Are you sure to delete?")) {
                $('#shoppingCartTable').load(url, function () {
                    UpdateCartStatus();
                });
            }
        });
    });

</script>

