@model SuperOnlineShop.Models.RegisterModel

<h1>Register</h1>

@using(Html.BeginForm()){
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address)
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div>
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber)
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div>
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName)
        @Html.ValidationMessageFor(m => m.FullName)
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
}
